html,
body {
  height: 100%;
  width: 100%;
  background: #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin-top: 6px;
  width: 50%;
  color: #ffff;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  height: 100px;
  background-color: #000;
  border-radius: 50px;

}

button {
  margin-top: 6px;;
  background-color: #000;
  color: white;
  box-shadow: 5px 10px hsla(0, 0%, 53%, 0.068);
  border-color: white;
  width: 150px;
  height: 50px;
  border-radius: 50px;
}

button:hover{
  background-color: rgb(43, 41, 41);
}